{% extends 'base.html' %}

{% block content %}

<h2>MCQ Quiz Form</h2>

<div class="timer">
    Time Left: <span id="time">30</span> sec
</div>

<form method="POST" onsubmit="return validateMCQ()">

    {{ form.hidden_tag() }}

    <label>
        Choose the Correct Option
    </label>

    {% for option in form.answer %}

        <div class="option">

            {{ option() }}
            {{ option.label.text }}

        </div>

    {% endfor %}

    {{ form.submit(class="btn") }}

</form>

<script>

function validateMCQ(){

    let options = document.getElementsByName("answer");

    let checked = false;

    for(let i=0; i<options.length; i++){

        if(options[i].checked){
            checked = true;
        }
    }

    if(!checked){

        alert("Please select an option.");
        return false;
    }

    return true;
}

let timeLeft = 30;

let timer = setInterval(function(){

    document.getElementById("time").innerHTML = timeLeft;

    timeLeft--;

    if(timeLeft < 0){

        clearInterval(timer);

        alert("Time is up!");

        window.location.reload();
    }

},1000);

</script>

{% endblock %}