{% extends 'base.html' %}

{% block content %}

<h2>Text Question</h2>

<form method="POST" onsubmit="return validateTextForm()">

    {{ form.hidden_tag() }}

    <p>
        {{ form.question.label }}
        {{ form.question(id="textInput") }}
    </p>

    <p>
        {{ form.submit(class="btn") }}
    </p>

</form>

<script>

function validateTextForm(){

    let text = document.getElementById("textInput").value;

    if(text.trim() == ""){
        alert("Text field cannot be empty!");
        return false;
    }

    return true;
}

</script>

{% endblock %}